<a href="https://colab.research.google.com/github/Ibratbey/Data-Science/blob/main/Pandas_malumot_turlari.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Assalomu alaykum va  rahmatullohi va barakatuh. Va nihoyat Pandas bo'limiga ham yetib keldik. Men Data Science kursidan juda ko'p narsalarni tez va ozon o'rganyapman.

# **Pandas** kutubxonasi

In [ ]:
import pandas as pd # pandas kutubxonasini import qilib uni qisqacha pd dep nomlaymiz

Pandas kutubxonasi Numpy kutubxonasidan farqli ravishda, keng qamrovli ma'lumotlar bilan ishlashga moslashgan, ya'ni pandas numpy kabi sonlar bilan ishlash bilan bir qatorda har xil matnlar v abelgilar bilan ishlash mumkin. Yana pandas 2 va undan ortiq o'lchamli ma'lumotlar bilan ishlay oladi

Pandas kutubxonasi asosan 2 xil ma'lumot turlari bilan ishlaydi. Bular Series va DataFrame ma'lumot turlari. Series bu lug'atga o'xshab ketadi

In [ ]:
data = pd.Series() #bo'sh Series yaratdik
data

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  """Entry point for launching an IPython kernel.

Series([], dtype: float64)

In [ ]:
kitoblar = {'Anvar Narzullayev':'pythonda dasturlash asoslari', 'Abu Xomid G\'azzoliy':'Mukoshafatul Qulub', 'Shayx Muhammad Sodiq Muhammad Yusuf':'Ruhiy tarbiya'}
data = pd.Series(kitoblar)
data

Anvar Narzullayev                      pythonda dasturlash asoslari
Abu Xomid G'azzoliy                              Mukoshafatul Qulub
Shayx Muhammad Sodiq Muhammad Yusuf                   Ruhiy tarbiya
dtype: object

In [6]:
raqamlar = [0,1,2,3,4,5,6,7,8,9] # raqamlarni saqlovchi ro'yhat
raqamlar

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [7]:
raqamlar_series = pd.Series(raqamlar)
raqamlar_series

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int64

Yuqoridagi misolda biz Series ma'lumot turini ro'yhat yordamida yaratdik, bunda chapdagi ustun indeksdir, biz indeksni bermaganimiz uchun pandas o'zi indekisni belgilab ketdi

In [9]:
raqamlar_series.index # indekslar haqida ma'lumotni chiqaramiz

RangeIndex(start=0, stop=10, step=1)

Indekslar 0 dan boshlanib 10 gacha(10 kirmaydi) 1 qadam bilan dep ko'rsatyapdi

In [10]:
raqamlar_series.values# qiymatlarni chiqaramiz

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [11]:
indeks = ['a', 'b', 'c', 'd', 'e', 'f', 'g','h','i','j']
raqamlar_series.index = indeks # raqamlar_seriesning indekslarini o'zgartiramiz
raqamlar_series

a    0
b    1
c    2
d    3
e    4
f    5
g    6
h    7
i    8
j    9
dtype: int64

In [12]:
data # data nomli series

Anvar Narzullayev                      pythonda dasturlash asoslari
Abu Xomid G'azzoliy                              Mukoshafatul Qulub
Shayx Muhammad Sodiq Muhammad Yusuf                   Ruhiy tarbiya
dtype: object

In [13]:
data.name = 'Kitob haqida ma\'lumot'
data

Anvar Narzullayev                      pythonda dasturlash asoslari
Abu Xomid G'azzoliy                              Mukoshafatul Qulub
Shayx Muhammad Sodiq Muhammad Yusuf                   Ruhiy tarbiya
Name: Kitob haqida ma'lumot, dtype: object

In [15]:
data.index.name = 'Muallif'
data

Muallif
Anvar Narzullayev                      pythonda dasturlash asoslari
Abu Xomid G'azzoliy                              Mukoshafatul Qulub
Shayx Muhammad Sodiq Muhammad Yusuf                   Ruhiy tarbiya
Name: Kitob haqida ma'lumot, dtype: object

# **DataFrame malumotlar tuzilmasi**

In [16]:
talaba = {'Ibratbek':[5,5,5,5], 'Sayfulloh':[5,5,5,5], 'Umrbek':[5,4,5,4]} # talaba nomli ro'yhat yaratamiz
talaba

{'Ibratbek': [5, 5, 5, 5], 'Sayfulloh': [5, 5, 5, 5], 'Umrbek': [5, 4, 5, 4]}

In [17]:
talaba_df = pd.DataFrame(talaba) # talaba nomli lug'at yordamida talaba_df nomli dataframe yaratamiz

In [18]:
talaba_df

   Ibratbek  Sayfulloh  Umrbek
0         5          5       5
1         5          5       4
2         5          5       5
3         5          5       4

In [19]:
talaba_df.index.name = 'Indeks'
talaba_df

        Ibratbek  Sayfulloh  Umrbek
Indeks
0              5          5       5
1              5          5       4
2              5          5       5
3              5          5       4

In [20]:
df = talaba_df
df

        Ibratbek  Sayfulloh  Umrbek
Indeks
0              5          5       5
1              5          5       4
2              5          5       5
3              5          5       4

In [22]:
df.index

RangeIndex(start=0, stop=4, step=1, name='Indeks')

In [23]:
df.Ibratbek

Indeks
0    5
1    5
2    5
3    5
Name: Ibratbek, dtype: int64

In [27]:
df.shape # df ning shakli yani 4 ta qator 3 ta ustun

(4, 3)

In [29]:
df.head() # df DataFrame ni boshini chiqaramiz. Chunki katta ma'lumotlar bilan ishlaganda hammasini chiqarish noqulaylik tug'diradi

        Ibratbek  Sayfulloh  Umrbek
Indeks
0              5          5       5
1              5          5       4
2              5          5       5
3              5          5       4

In [31]:
df['Asadbek'] = 0

In [32]:
df

        Ibratbek  Sayfulloh  Umrbek  Asadbek
Indeks
0              5          5       5        0
1              5          5       4        0
2              5          5       5        0
3              5          5       4        0

In [33]:
df.Asadbek[2] = 5
df

        Ibratbek  Sayfulloh  Umrbek  Asadbek
Indeks
0              5          5       5        0
1              5          5       4        0
2              5          5       5        5
3              5          5       4        0